.formContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  padding: 20px;
  background-color: #fafafa;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}
.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.ratingContainer {
  display: flex;
  gap: 5px;
  align-items: center;
}

.clearButton {
  padding: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  color: black;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 20px;
  width: 100px;
  margin-top: 10px;

  &:hover {
    background-color: #e0e0e0;
  }
}
